<div class="main-container">
    <div class="addPost-container">
        <textarea name="" id="" cols="30" rows="10" placeholder="What is on your mind?..."></textarea>
        
        <button>Create Post</button>
    </div>

    <h3 class="post-title">Recent Posts</h3>
    <div class="post-list-container">
        <div class="post-item">
            <div class="poster-details">
                <div class="credentials">
                    <div class="user-image"></div>
                    <p class="username">Nana_Kojo</p>
                </div>
                <div class="timestamps">
                    <div class="createdAt-date">30.09.24</div>
                    <div class="time-hr"></div>
                    <div class="createdAt-time">13:41px</div>
                </div>
            </div>
            <p class="post-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit quos inventore quisquam?
            </p>
            <div class="post-interaction">
                <span>Like</span>
                <div class="hr"></div>
                <span>Comments (24)</span>
            </div>
        </div>
    </div>
</div>