<div class="form-container">
    <form [formGroup]="loginForm">
        <span class="form-title">Login</span>
        <div class="email-box">
            <input type="text" class="email" placeholder="Email" formControlName="email" name="email">
            <div class="error" *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
                <span *ngIf="loginForm.controls['email'].errors?.['required']">Cant be empty</span>
                <span *ngIf="loginForm.controls['email'].errors?.['email']" >Enter valid email</span>
            </div>
        </div>
        <div class="password-box">
            <input type="text" class="password" placeholder="Password" formControlName="password" name="password">
            <div class="error" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
                <span *ngIf="loginForm.controls['password'].errors?.['required']">Cant be empty</span>
                <span *ngIf="loginForm.controls['password'].errors?.['minlength']">No less than 6 characters</span>
            </div>
        </div>

        <!-- <div class="cred-invalid" *ngIf="api.checkFormSubmitted !== true && loginForm.touched && loginForm.valid">
            <span class="cred-invalid">{{ api.loginErrorMessage }}</span>
        </div> -->
    
        <button class="login-btn" (click)="onSubmit()">Login to your account</button>
        <span class="no-account-extention-point">Don't have an account? <span (click)="goToRegister()">Sign Up</span></span>
    </form>
</div>